@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Momo+Trust+Display&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&family=Schoolbell&family=Varela+Round&display=swap');
/* font-family: "Momo Trust Display", sans-serif; */
/* font-family: "Varela Round", sans-serif; */

@media screen and (max-width: 1050px) {
    
    .convertorBox {

        width: 100vw !important;
        transform: scale(0.9) !important;
    }
}

@media screen and (max-width: 850px) {
    
    .convertorBox {

        margin-top: 5vw !important;
        width: 100vw !important;
        height: 550px !important;
    }

    .convertArea {

        align-items: center !important;
        justify-content: center !important;
    }

    nav {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw !important;
    }

    .convertDiv {

        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        margin-top: 70px !important;
    }

    .equivalenceDiv {

        width: 80vw !important;
    }

    .exchangeSvg {

        transform: rotate(90deg) !important;
        margin-bottom: 20px;
        margin-top: -10px !important;
    }

    .lastUpdate {
        font-size: 10px !important;
    }
}

:root {

    --bg1: rgb(191, 191, 191);
    --bg2: white;
    --bg3: white;
    --bg4: rgb(10, 10, 56);
    --bg5: rgb(168, 203, 249);
    --textColor : black;
}

body.dark {

    --bg1: rgb(36, 36, 36);
    --bg2: rgb(54, 54, 54);
    --bg3: rgb(36, 36, 36);
    --bg4: rgb(36, 36, 36);
    --bg5: rgb(66, 66, 66);
    --textColor : white;
}

* {

    margin: 0;
    padding: 0;
}

body {

    height: 100vh;
    width: 100vw;
    background-color: var(--bg1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 500ms ease-out 0s;
}

nav {

    height: 10%;
    width: 100%;
    background-color: var(--bg2);
    display: flex;
    align-items: center;
    align-items: center;
    color: var(--textColor);
    font-family: "Varela Round", sans-serif;
    transition: background-color 500ms ease-out 0s;
}

a {
    text-decoration: none;
}

.linkIcons {

    fill: var(--textColor);
    width: 20px;
}

.links {
    
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.lastUpdate {
    
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 700;
    color: var(--textColor);
}

.convertorBox {

    width: 1000px;
    height: 450px;
    background-color: var(--bg2);
    color: var(--textColor);
    margin-top: 10vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    transition: background-color 500ms ease-out 0s;
}

.convertArea {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {

    background-color: var(--bg4);
    color: white;
    font-family: "Momo Trust Display", sans-serif;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    transition: background-color 500ms ease-out 0s;
}

.exchangeSvg {

    width: 40px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
    background-color: rgb(181, 193, 196);
    padding: 10px;
    border-radius: 40px;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.exchangeSvg:hover {

    background-color: rgb(144, 144, 144);
}

.arrowSvg {

    width: 10px;
    margin-left: 5px;
}

input {
    
    width: 190px;
    color: var(--textColor);
    background-color: var(--bg3);
    transition: background-color 500ms ease-out 0s;
    outline: none;
    border: none;
    font-size: 20px;
}

.amount,
.value {

    width: 180px;
    height: 30px;
    border: 1px solid gray;
    background-color: var(--bg3);
    transition: background-color 500ms ease-out 0s;
    font-size: 24px;
    font-family: "Calibri", sans-serif;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.convertDiv {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 80px;
}

.fromBox,
.toBox {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fromDiv,
.toDiv {

    width: 330px;
}

.fromCurrSelect,
.toCurrSelect {

    background-color: var(--bg3);
    transition: background-color 500ms ease-out 0s;
    font-family: "Varela Round", sans-serif;
    width: 100px;
    height: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 5px;
}

.fromListDiv,
.toListDiv {

    width: 120px;
    height: 50px;
    height: 30px;
    margin-left: auto;
    position: relative;
}

.fromList,
.toList {

    width: 117px;
    visibility: hidden;
    height: 200px;
    overflow: scroll;
    position: absolute;
    top: 0;
    background-color: var(--bg3);
    transition: background-color 500ms ease-out 0s;
    border: 1px solid gray;
}

.fromOptions,
.toOptions {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
}

.fromOptions:hover,
.toOptions:hover {
    background-color: var(--bg5);
}

.flags {

    width: 25px;
    margin-right: 5px;
}

.equivalenceDiv {

    background-color: var(--bg3);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 30px;
    font-family: "Calibri", sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: background-color 500ms ease-out 0s;
}

@keyframes toggleDiv {
    
    from {
        background-color: rgb(164, 164, 164);

    }

    to {
        background-color: rgb(44, 44, 44);
    }
}

@keyframes toggleCircle {
    
    from {
        background-color: white;
    }

    to {
        transform: translateX(100%);
        background-color: gray;
    }
}

.circle {

    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.darkModeToggle {

    height: 20px;
    width: 40px;
    box-shadow: 0px 0px 3px black inset;
    border-radius: 20px;
    padding: 4px;
    background-color: rgb(164, 164, 164);
    cursor: pointer;
}

.inputFromCurrName, .inputToCurrName {
    display: none;
    width: 100px;
}

